/***** CodeMirror 补充样式 *****/
/* 结尾多余空格显示错误下划线 */
.cm-trailingspace {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
	background-position: bottom left;
	background-repeat: repeat-x;
}
/* 提示配对标签 */
/* 滚动条 */
.CodeMirror-simplescroll-vertical{width:12px;}
.CodeMirror-simplescroll-horizontal{height:12px;}
/* 高度 */
.CodeMirror{height:100%;}
.CodeMirror-scrollbar-filler{background:none;}
/* 自动补全 */
.CodeMirror-hints{position:absolute;z-index:10;overflow:hidden;list-style:none;margin:0;padding:2px;border-radius:3px;border:1px solid #2F3032;background:#28211C;font-size:90%;font-family:monospace;max-height:20em;overflow-y:auto;}
.CodeMirror-hint{margin:0;padding:0 4px;height:22px;line-height:22px;border-radius:2px;white-space:pre;color:#AAAAAA;cursor:pointer;}
li.CodeMirror-hint-active{background:#4182C4;color:white;}